body{
    background-color: #E8F75F;
  }
  .answer{
    background-color: rgb(151, 90, 121);
    width: auto;
    font-size: 26px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .correct{
    background-color: rgb(45, 97, 146);
  }
  
  .btn-primary{
    background-color: rgb(61, 34, 34);
    font-size: large;
    color: #fff;
  }
  
  .btn-primary{
    background-color: rgb(61, 34, 34);
    font-size: large;
    color: #fff;
  }
  
  mat-card{
    width: 60%;
    margin: auto;
    text-align: center;
    background: #19677a;
    color: #fff;
    font-size: 50px;
    border-color: #fff;
    border-radius: 2px;
    border: 2px solid;
  }
  
  
  .title{
    margin: auto;
    background-color: #000057;
    color: white;
    font-size: 30px;
  }