<div *ngIf="quiz && !questions" class="spinner-grow text-primary"></div>

<mat-card *ngIf="questions">

  <div class="questions" *ngIf="!showResults">
    <app-question-form
      [question]="questions[currentQuestionIndex]"
      (onChoiceMade)="updateChoice($event)">
    </app-question-form>
    <mat-card-actions>
    <button
      mat-button
      class="btn btn-success btn-primary"
      (click)="nextOrViewResults()"
      [disabled]="!answers.values[currentQuestionIndex]">
      {{currentQuestionIndex === questions.length -1 ? 'View results' : 'Next'}}</button>
    </mat-card-actions>
  </div>

  <app-results *ngIf="showResults" [answers]="answers"></app-results>
</mat-card>