btn-primary{
    background-color: #E8F75F;
  }
  mat-card{
    width: 256px
  }
  
  body{
    background-color: #E8F75F;
  }
  .mat-app-background{
    background-color: #000057;
  }
  
  .btn-primary{
    background-color: rgb(61, 34, 34);
    font-size: large;
    color: #fff;
  }
  
  mat-card{
    width: 60%;
    margin: auto;
    text-align: center;
    background: #19677a;
    color: #fff;
    font-size: 27px;
    border-color: #fff;
    border-radius: 2px;
    border: 2px solid;
  }
  
  .title{
    margin: auto;
    background-color: #000057;
    color: white;
  }