.mat-app-background{
    font-size: 26px;
    border-width: thick;
    border-color: blue($color: #000000);
  }
  
  .btn-primary{
    background-color: #E8F75F;
  }
  
  body{
    background-color: #E8F75F;
  }
  
  mat-card{
    width: 60%;
    margin: auto;
    text-align: center;
    background: #19677a;
    color: #fff;
    font-size: 50px;
    border-color: #fff;
    border-radius: 2px;
    border: 2px solid;
  }
  
  .title{
    margin: auto;
    background-color: #000057;
    color: white;
    font-size: 26px;
    margin-bottom: 50px
  }